.container.contact__container {
  display: flex;
  justify-content: center;
}

.contact__options {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.contact__option {
  background: var(--color-card-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(15px);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid var(--color-card-border);
  transition: var(--transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.contact__option::before {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  transition: background 500ms;
  top: 0px;
  width: 100%;
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 1;
  pointer-events: none;
}

.contact__option::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  transition: background 500ms;
  top: 0px;
  width: 100%;
  background: radial-gradient(
    400px circle at var(--mouse-x) var(--mouse-y),
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
  pointer-events: none;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
  padding: 1px;
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  position: relative;
  z-index: 2;
}

.contact__option h4,
.contact__option h5 {
  position: relative;
  z-index: 2;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: small;
  position: relative;
  z-index: 2;
}

/* ========== FORM =========== */

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* ========== Media Queries (MEDIUM Devices: tablets) ========= */

@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .contact__options {
    gap: 2rem;
  }
}

/* ========== Media Queries (Small Devices: tablets) ========= */

@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
  .contact__options {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
}
