header {
  /* min-height: 100vh; */
  /* padding-top: 7rem; */
  /* overflow: hidden; */
}

.header__container {
  text-align: center;
  /* margin-top: 10rem; */
  padding-top: 8rem;
  /* height: 100%; */
  position: relative;
  z-index: 2;
  /* margin-bottom: 10rem; */
}

/* ========= CTA =========== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.header__image-row {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  position: relative;
}

/* ========= Header Socials =========== */
.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 2rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/* ========= ME =========== */
.me {
  width: 22rem;
  height: 30rem;
  position: relative;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.me::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(transparent, var(--color-bg));
  pointer-events: none;
}

.me img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 2rem 0 0 0;
}

/* ========= Scroll Down =========== */

.scroll__down-div {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 2rem;
  flex-direction: column;
  writing-mode: vertical-lr;
}

.scroll__down {
  font-weight: 300;
  font-size: 0.9rem;
}

/* ========== Media Queries (MEDIUM Devices: tablets) ========= */

@media screen and (max-width: 1024px) {
  /* header {
      height: 100vh;
    } */
}

/* ========== Media Queries (Small Devices: tablets) ========= */

@media screen and (max-width: 600px) {
  header {
    /* height: 100vh; */
  }

  .me {
    max-width: 19rem;
    height: auto;
  }
}

/* ========== Media Queries (Small Devices: tablets) ========= */

@media screen and (max-width: 376px) {
  /* header {
    min-height: 130vh;
  } */

  .me {
    max-width: 14rem;
    height: auto;
    /*left: calc(50% - 7rem);*/
    /*bottom: 4rem;*/
    padding-top: 1.5rem;
  }
}
